.dashboard-container .content .profile {
    width: 100%;
    height: 100%;
}

.dashboard-container .content .profile .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-container .content .profile .data .user {
    display: flex;
    align-items: center;
}

.dashboard-container .content .profile .data .user .user-image {
    width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dashboard-container .content .profile .data .user img {
    width: 128px;
    height: 128px;
    margin-bottom: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dashboard-container .content .profile .data .user .user-image p {
    text-decoration: underline;
    cursor: pointer;
}

.dashboard-container .content .profile .data .user .info h3 {
    font-size: 20px;
    font-weight: 600;
    color: #363636;
    margin-bottom: 8px;
}

.dashboard-container .content .profile .data .user .info span {
    font-size: 16px;
    color: #636363;
}

.dashboard-container .content .profile .info a {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    color: #7D7098;
}

.dashboard-container .content .profile .data .submit button {
    width: 154px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #7D7098;
    text-decoration: none;
    border: 0;
    outline: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dashboard-container .content .profile .data .submit button#loadingBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container .content .profile .data .submit button#loadingBtn:disabled {
    background-color: #E2E6EA;
    color: #8D9BAD;
    cursor: wait;
}

.dashboard-container .content .profile .data .submit button#loadingBtn img {
    display: none;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.dashboard-container .content .profile .data .submit button#loadingBtn:disabled img {
    display: inline-block;
}

.dashboard-container .content .profile .setting {
    width: 98%;
    margin-top: 56px;
}

.dashboard-container .content .profile .setting form {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(2, 50%);
    column-gap: 20px;
}

.dashboard-container .content .profile .setting form > div {
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dashboard-container .content .profile .setting form p.title {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 600;
    color: #161A1E;
}

.dashboard-container .content .profile .setting form .form-group {
    width: 100%;
    margin-bottom: 16px;
}

.dashboard-container .content .profile .setting form .form-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    margin-bottom: 8px;
}

.dashboard-container .content .profile .setting form .form-group input[type="text"],
.dashboard-container .content .profile .setting form .form-group input[type="email"],
.dashboard-container .content .profile .setting form .form-group input[type="password"] {
    width: 100%;
    height: 38px;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #363636;
    padding-left: 16px;
    border: 1px solid #E2E6EA;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dashboard-container .content .profile .setting form .form-group #familyphoto {
    width:  198px;
    height: 198px;
    padding: 5px;
    position: relative;
    cursor: cell;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/dashboard/home-icons/upload-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px dashed #E2E6EA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; */
}

.dashboard-container .content .profile .setting form .form-group #familyphoto::before {
    content: "Click or drag\Ato upload";
    white-space: pre;
    text-align: center;
    position: absolute;
    font-size: 14px;
    color: #C6CDD6;
}

.dashboard-container .content .profile .setting form .form-group #familyphoto.active::before {
    content: "";
}

.dashboard-container .content .profile .setting form .form-group #familyphoto p {
    font-size: 14px;
    color: #C6CDD6;
}

.dashboard-container .content .profile .setting form .form-group #familyphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dashboard-container .content .profile .setting form .form-group .contributor-invitation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-container .content .profile .setting form .form-group .contributor-invitation p {
    font-size: 16px;
    font-weight: 400;
    color: #636363;
}

.dashboard-container .content .profile .setting form .form-group .contributor-invitation img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dashboard-container .content .profile .model-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 54, 54, 25%);
}

.dashboard-container .content .profile .model-box {
    width: 385px;
    height: 255px;
    padding-top: 32px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 4px #ccc;
}

.dashboard-container .content .profile .model-box img {
    width: 44px;
    height: 44px;
    margin-bottom: 8px;
}

.dashboard-container .content .profile .model-box .model-title {
    margin-bottom: 32px;
}

.dashboard-container .content .profile .model-box p {
    font-size: 16px;
    font-weight: 600;
    color: #636363;
    margin-bottom: 32px;
}

.dashboard-container .content .profile .model-box button {
    height: 38px;
}
